@import '../helpers/mixin';

.header {
    @include flex(space-between,center);
    padding: 10px 0;
    background-color: var(--slack-color);
    color: white;
}

.header_left {
    @include flex($align:center);
    flex: 0.3;
    margin-left: 20px;
}

.header_left  > .MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 30px;
}

.header_search {
    flex: 0.4;
    background-color: #421f44;
    text-align: center;
    padding: 0 50px;
    color: gray;
    border: 1px solid gray;
    border-radius: 6px;

    @include flex($align:center);
    
    & > input {
        background-color: transparent;
        border: none;
        text-align: center;
        outline: none;
        text-align: center;
        min-width: 35vw;
    }
}

.header_right {
    flex: 0.3;
    display: flex;
    align-items: center;

    & > .MuiSvgIcon-root {
        margin-left: auto;
        margin-right: 20px;
    }
}